body {
}


   /******************************分页控件样式--pageBar*****************************/
.clear {
    clear: both;
}

.pageBar {
    width: 650px;
    margin: 30px auto;
    border: 0px solid red;
}

    .pageBar .pageBar_Number {
        /*width: 575px;*/
        float: left;
    }

    .pageBar .pageBar_Go {
        float: left;
    }

    .pageBar span {
        display: inline-block;
        width: 38px;
        height: 35px;
        background-position: -243px -30px;
        float: left;
        border: 1px solid #C4C4C4;
        border-radius: 3px;
    }

        .pageBar span.number {
            text-align: center;
            line-height: 35px;
            font-size: 13px;
            font-weight: bold;
            font-family: "Microsoft YaHei";
            margin: 0px 5px;
            cursor: pointer;
            background-color: #FCFCFC;
        }

    .pageBar .pageBar_Number span:hover {
        background-color: #E3E3E3;
    }

    .pageBar span.goToNumber:hover {
        background-color: #E3E3E3;
    }

    .pageBar span.Hot:hover {
        background-color: #FFBA00;
    }


    .pageBar span.Hot {
        background-position: -310px -30px;
        color: white;
        background-color: #FFBA00;
    }

    .pageBar span.arrowLeft {
        background-position: -180px -30px;
        cursor: pointer;
    }

    .pageBar span.arrowRight {
        background-position: -376px -30px;
        cursor: pointer;
    }

    .pageBar span.moreRight, .pageBar span.moreLeft {
        font-weight: bolder;
        text-align: center;
        line-height: 30px;
        margin: 0px 5px;
        cursor: pointer;
    }

    /*跳转部分*/
    .pageBar span.title {
        width: 50px;
        background-color: white;
        text-align: right;
        line-height: 37px;
        margin-left: 10px;
        font-size: 12px;
        border: 0px;
    }

    .pageBar span.text {
        width: 40px;
        border: 0px;
    }

    .pageBar span input {
        width: 100%;
        height: 16px;
        line-height: 16px;
        padding: 8px 4px;
    }
        .pageBar span input:focus {
            /*box-shadow: 0px 0px 2px 2px rgba(255, 139, 160, 0.5);*/
            border-color: rgba(255, 139, 160, 0.5);
        }

    .pageBar span.goToNumber {
        text-align: center;
        line-height: 35px;
        font-size: 13px;
        font-family: "Microsoft YaHei";
        margin-left: 13px;
        cursor: pointer;
    }

.arrow-left {
    width: 0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid #4E4E4E;
    font-size: 0px;
    line-height: 0px;
    display: block;
    margin-left: 16px;
    margin-top: 12px;
}

.arrow-right {
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #4E4E4E;
    font-size: 0px;
    line-height: 0px;
    display: block;
    margin-left: 16px;
    margin-top: 12px;
}